.adminimal .toolbar .toolbar-lining .toolbar-toggle-orientation {
  background-color: transparent;
}

.adminimal .toolbar ul.toolbar-menu {
  background-color: transparent;
}
/* Adminimal toolbar menu background */
.adminimal .toolbar ul.toolbar-menu li {
  background-color: #fff;
}

/* Adminimal toolbar horizontal menu font */
.adminimal .toolbar ul.toolbar-menu li  a {
  color: #565656;
  border-left: 1px solid #dddddd;
}

/* Adminimal toolbar horizontal menu last child*/
.adminimal .toolbar ul.toolbar-menu li.menu-item:last-child {
  border-right: 1px solid #dddddd;
}

/* Adminimal toolbar vertical menu last child*/
.adminimal .toolbar ul.toolbar-menu li.menu-item:last-child {
  border-bottom: 1px solid #dddddd;
}

/* Adminimal toolbar active menu link color is Black and for horizontal is set bold */
.adminimal .toolbar .toolbar-tray ul.toolbar-menu li.menu-item--active-trail > .toolbar-box a,
.adminimal .toolbar .toolbar-tray a.is-active {
  font-weight: bold;
  color: #000;
}

.adminimal .toolbar .toolbar-tab .toolbar-tray-horizontal {
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
}

/* Adminimal toolbar lining background*/
.adminimal .toolbar .toolbar-lining {
  background-color: #f5f5f5;
}

/* Adminimal toolbar vertical menu font */
.adminimal .toolbar .toolbar-tray-vertical ul.toolbar-menu li.menu-item a {
  color: #000;
}

/* Adminimal toolbar first level of vertical menu */
.adminimal .toolbar .toolbar-tray-vertical ul.toolbar-menu li.level-1 {
  border-top: 1px solid #dddddd;
}

/* Adminimal toolbar font*/
.adminimal .toolbar #toolbar-bar {
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
}

/* Adminimal vertical toolbar close icon */
.adminimal .toolbar .toolbar-tray-vertical ul.toolbar-menu li.menu-item .toolbar-icon.toolbar-handle:before {
  background-image: url(../images/chevron-disc-down.svg);
}

/* Adminimal vertical toolbar open icon */
.adminimal .toolbar .toolbar-tray-vertical ul.toolbar-menu li.menu-item .toolbar-icon.toolbar-handle.open:before {
  background-image: url(../images/chevron-disc-up.svg);
}
